body{
    margin: none;
    padding: none;
}
.container{
    display: grid;
    border: 3px dashed #777;
    box-sizing: border-box;
    margin: 20px;
    grid-template:
        "header header" 300px
        "main aside" auto
        "footer footer" 300px / 3fr 1fr;
}
.container > *{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: sans-serif;
}
.item:nth-child(1){
    grid-area: header;
    font-weight: 600;
    border: 2px solid rgba(255, 40, 30);
}
.item:nth-child(2){
    grid-area: main;
    font-weight: 500;
    border: 2px solid rgba(140, 140, 70);
    margin: 20px 0 0;
    display: block;
}
.item:nth-child(3){
    grid-area: aside;
    font-weight: 300;
    border: 2px solid rgba(70, 140, 140);
    margin: 20px 0 0 20px;
}
.item:nth-child(4){
    grid-area: footer;
    font-weight: 400;
    border: 2px solid rgba(60, 120, 255);
    margin: 20px 0 0 0;
}
.main{

}
#row-and-column{
    display: grid;
    grid-template-rows: 100px repeat(6, auto);
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.items{
    text-align: justify;
    word-break: break-all;
    padding: 10px;
    box-sizing: border-box;
}
.items:nth-child(1){
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
.items:nth-child(2){
    grid-row: 2 / 4;
    grid-column: 1 / 3;
}
.items:nth-child(3){
    grid-row: 2 / 4;
    grid-column: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
}
#HEROPY1{
    width: 100%;
}
.items:nth-child(4){
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
}
#HEROPY2{
    height: 100%;
}
.items:nth-child(5){
    grid-row: 5 / 7;
    grid-column: -1 / -4;
}
.items:nth-child(6){
    grid-row: 7 / 8;
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
#HEROPY3{
    width: 100%;
}
.items:nth-child(7){
    grid-row: 7 / 8;
    grid-column: 2 / 4;
}